{% extends 'chairmanapp/index.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'chairmanapp\assets\css\blog.css' %}">
{% endblock css %}

{% block content %}

<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>events List <small class="text-muted">Welcome to Digital Society</small></h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">



                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i>
                            Digital Society</a></li>
                    <li class="breadcrumb-item">events</li>
                    <li class="breadcrumb-item active">events List</li>
                </ul>
            </div>
        </div>
    </div>
    {% for n in eall %}
    <div class="container-fluid">
        <div class="blog-page">
            <div class="row">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5"><a href="">{{n.events_title}}</a></h3>
                            <ul class="meta">
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By:
                                        {{n.user_id.email}} </a></li>
                                <li><a href="#"><i class="zmdi zmdi-label col-red"></i>{{n.whenpublished}}</a></li>
                                <p>{{n.events_discription}}</p>


                            </ul>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content %}